:root{
    --border-color: rgb(200,200,200,0.7);
    --light-text:  rgb(142,142,142,1);
    --liked-color: #ed4956;
    --follow-color: #0095f6;
}

.ps27UserHeader{
    max-width: 935px;
    display: flex;
    justify-content: space-evenly;

}

.ps27UserProfileIcon{
    border: 1px solid var(--border-color);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.ps27ImgContainer{
    padding: 0 20px;
    width: 198px;
    margin-right: 30px;
}

.username-text{
    font-size: 1.6rem;
}

.ps27UserDetails{
    display: flex;
    flex-direction: column;   
}

.ud23FirstRow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ud23ButtonRow{
    display: flex;
    margin-left: 20px;
}

.ud23ButtonRow button{
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    float: none;
    position: relative;
    padding: 5px 9px;
    margin-right: 6px;
}

.ud23FollowButton{
    margin-left: 20px;
}

.ud23FollowButton button{
    color: white;
    border: 1px solid transparent;
    background-color: var(--follow-color);
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    float: none;
    position: relative;
    padding: 5px 9px;
    margin-right: 6px;
}

.ud23CountRow{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-left: 0px;
    align-items: flex-start;
    margin-top: 0;
}

.ud23CountRow li{
    list-style-type: none;
    margin-right: 40px;
    font-size: 0.9rem;
}

.ud23BioRow h1{
    margin: 0;
    font-size: 0.9rem;
}

.ud23BioContent{
    display: inline-block;
    max-width: 680px;
    font-size: 0.8rem;
}

.up56Container{
    margin-top: 36px;
    max-width: 935px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.up56ImgContainer{
    width: 293px;
    height: 293px;
    overflow: hidden;
    margin-bottom: 28px;
}

.up56Img{

    width: 293px;
    height: 293px;
    object-fit: cover;
}

.up56Hov{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    width: 293px;
    height: 293px;
    position: absolute;
    background-color: rgb(0,0,0,0.5);
}

.up56Hov:hover{
    opacity: 1;
}

.up56Nav{
    margin-top: 44px;
    width: 935px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.up56Nav button{
    display: flex;
    height: inherit;
    color: var(--light-text);
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    align-items: center;
}

.up56NavBtn:focus{
    color: black;
    border-top: 1px solid black;
}
.up56NavBtn:hover{
    color: black;
    border-top: 1px solid black;
}

.up56PostViewContainer{
    margin-top: 36px;
}

@media only screen and (max-width: 879px) {
    
    .up56Container{
        margin-top: 36px;
        max-width: 935px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}