@import "../../../styles/animations.css";

:root{
    --border-color: rgb(200,200,200,0.5);
    --light-text:  rgb(142,142,142,1);
    --liked-color: #ed4956;
}

.pt63PostContainer{
    margin-top: 24px;
    box-sizing: border-box;
    width: 100vw;
}
.pt63Post{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    background-color: white;
    max-width: 400px;
    margin: auto;
}
.pt63PostHeader{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pt63PostFooter{
    box-sizing: border-box;
}

.pt63HeaderIcon{
    border: 1px solid var(--border-color);
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.pt63HeaderUser{
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

.pt63HeaderUser:hover{
    text-decoration: underline;
    cursor: pointer;
}

.bold-text{
    font-size: 0.8rem;
    font-weight:600;
}

.regular-text{
    font-size: 0.8rem;
    font-weight: 100;
}

.light-text{
    font-size: 0.6rem;
    color: var(--light-text);
}

p{
    margin: 6px 0;
}

a:hover{
    text-decoration: underline;
}

.pt63LikeSection{
    display: flex;
    justify-content: flex-start;
    padding: 0 4px;
}

#savepost-btn{
    margin-left: auto;
}

.pt63IconButton{
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}

.pt63IconButton:hover{
    cursor: pointer;
}

.pt63PostDetails{
   padding: 0 16px;
   max-width: 100%; 
}

.liked-color{
    color: var(--liked-color);
}


    