
body {
    background-color: #fafafa;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-family: 'Montserrat';
    margin-top: 84px;
    letter-spacing: 1px;
}

